<div class="panel panel-default" >
    <!--Header row-->
    <div class="panel-heading">
        <!--Number of features-->
        <span class="label pull-left" style="margin-right: 6px;">10</span>
        <!--Header-->
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#Tube2_1799-Tube2_1799">Tube2</a>
        </h4>
    </div>

    <!-- Main section of row-->
    <div data-dojo-attach-point="_features" class="panel-collapse collapse in" style="height: auto;">
        <div class="panel-body">
            <p class="results">Closest 10 <span class="feature-name">Tube2</span> within 50 miles</p>
        
        </div>
    </div>
</div>
