<div id="${featureId}-feature-container" class="">
    <!--container for feature row-->
    <div class="${baseClass}-search-features">
        <!--Actual feature row-->
        <div id="search-features-inner-${featureId}" class="${baseClass}-search-features-inner">
            <!--Make whole row clickable-->
            <a href="#" title="Toggles the display of the feature fields" class="${baseClass}-text-place-summary-details">
                <!--index-->
                <span class="${baseClass}-feature-marker">${featureNumber}</span>
                <!--div for infor-->
                <div class="${baseClass}-text-place-details">
                    <!--feature name-->
                    <h3 id="${featureId}-feature-name" class="${baseClass}-text-place-title">${featureTitle}</h3>
                    ${distance}&nbsp;${distanceUnits}
				    <!-- other fields-->
                    <div id="${featureId}-field-values" class="${baseClass}-text-place-basic-details" >
                        <div class="${baseClass}-details">${featureDetails}</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
