<div class="panel panel-default">
    <!--Header row-->
    <div class="panel-heading">
        <!--Number of features-->
        <span class="label pull-left" style="margin-right: 6px;">10</span>
        <!--Header-->
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#Tube2_1799-Tube2_1799">Tube2</a>
        </h4>
    </div>

    <!-- Main section of row-->
    <div id="Tube2_1799-Tube2_1799" class="panel-collapse collapse in" style="height: auto;">
        <div class="panel-body">
            <p class="results">Closest 10 <span class="feature-name">Tube2</span> within 50 miles</p>

            <div id="Tube2_1799-Tube2_1799-feature-container" class="col-md-12">
                <!--container for feature row-->
                <div class="search-features col-sm-12">

                    <!--Actual feature row-->
                    <div id="search-features-inner-Metropolitan-0-Tube2_1799" class="search-features-inner">
                        <!--Make whole row clickable-->
                        <a href="#" title="Toggles the display of the feature fields" class="col-md-12 text-place-summary-details show ">
                            <!--index-->
                            <span class="label pull-left feature-marker">1</span>
                            <!--div for infor-->
                            <div class="text-place-details">
                                <!--feature name-->
                                <h3 id="Metropolitan-0-Tube2_1799-feature-name" class="text-place-title">Tube2: Metropolitan</h3>
                                10.72&nbsp;miles
				                <!-- other fields-->
                                <div id="Metropolitan-0-Tube2_1799-field-values" class="text-place-basic-details" style="display: none;">
                                    <div class="col-md-12">
                                        10
										<div>Metropolitan</div>
                                        <div>This is a <i>tube </i>line. <b>Woohoo<span style="background-color: rgb(255, 69, 0);">&nbsp;</span></b></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
