
<div class="panel panel-default">
    <!--Header row-->
    <div class="${baseClass}-heading-container panel-heading">
        <!--Number of features-->
        <span class="${baseClass}-feature-count label pull-left" style="margin-right: 6px; display: ${showCountersVisible}">${numberOfFeatures}</span>
        <!--Header-->
        <h4 class="${baseClass}-title panel-title">
            <a data-toggle="${collapseClass}" href="#${layerId}" aria-expanded="${expanded}" data-dojo-attach-point="showList">${layerName}</a>
        </h4>
    </div>
    <div id='${layerId}' class='${baseClass}-details-container panel-collapse ${collapseClass} ${expandedClass}'>
        <div class='${baseClass}-details-body panel-body'>
            <p class="${baseClass}-results" style="display: ${showCountersVisible}">Closest ${numberOfFeatures} <span class="${baseClass}-layer-name">${layerName}</span> within ${distance} ${distanceUnits}</p>
            <!-- Main section of row-->
            <div data-dojo-attach-point="_features" class="${baseClass}-features-list" style="height: auto;">
        
            </div>
        </div>
    </div>
</div>