
.nearestItem {

}

.header {
    font-weight: bold;
}

.nearestItem-search-features {
    position: relative;
    z-index: 10;
    overflow: hidden;
    outline: none;
    padding-left: 0;
    padding-right: 0;
}


.nearestItem-search-features-inner {

}

.nearestItem-text-place-summary-details {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #fff;
    margin: 0 0 2px;
    padding: 5px 10px 5px 10px;
    position: relative;
    float:left;
}

.nearestItem-feature-marker {
    float:left;
    background-color: #5cb85c;
    font-size: 100%;
    display: inline-block;
    position: absolute;
    top: 24px;
    left: 18px;
}

.nearestItem-text-place-details {
    display: block;
    margin-left: 40px;
    padding: 10px;
    position: relative;
}

.nearestItem-text-place-title {
    margin: 0px;
}

.nearestItem-text-place-basic-details {

}

.nearestItem-details {

}

.nearestItem-showonmap-link {
    margin-left: 40px;
}

.nearestItem-showonmap-link .btn {
    padding: 10px;
}



