.nearestItem .search-features {
    position: relative;
    z-index: 10;
    overflow: hidden;
    outline: none;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}

.nearestItem .search-features .search-features-inner .text-place-summary-details {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #fff;
    display: block;
    margin: 0 0 2px;
    padding: 5px 10px 5px 10px;
    position: relative;
}

.nearestItem .search-features .search-features-inner .feature-marker {
    display: inline-block;
    position: absolute;
    top: 24px;
    left: 18px;
}
.nearestItem .label {
    background-color: #5cb85c;
    font-size: 100%;
}

.nearestItem .search-features .search-features-inner .text-place-details h3 {
    margin: 0;
}

.nearestItem .search-features .search-features-inner .text-place-details {
    display: block;
    margin-left: 40px;
    padding: 10px;
    position: relative;
}

.pull-left {
    float: left!important;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}